{% comment %}
<!--{% extends 'firstapp/base.html' %}-->

<!--{% block title %} Index {% endblock title %}-->
<!--{% block header %} Главная страница {% endblock header %}-->
<!--{% block content %} Связка шаблонов index.html и base.html {% endblock content %}-->
{% endcomment %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма Django</title>
</head>
<body>

<h2>Форма как параграф</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <input type="submit" value="Отправить">
    </form>

</body>
</html>